{% extends "layout.html" %}

{% block content %}
  <h3>{{page.title}} <small> (<a href="{{page.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{page.author.id}}">{{page.author.name}}</a></h4>
  <div>{{page.tags}}</div>
  <hr/>
  <div><a href="/users/{{page.author.id}}">{{page.author.name}}</a></div>
  <div class="page-body">{{page.content}}</div>
  <hr/>
  <a href="{{page.urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{page.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
